html, body{

  margin: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0E8DBC 0%, #0C7FA9 50%, #0B6C90 100%);;
}

*{
  font-family: Verdana;
  color: white;
}

.gameBoard {
  width:300px;
  height:300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  border: solid 1px white;
  border-radius: 5px
}

.gameSquare { 
  margin: 5px 5px 0px 5px;
  width:90px;
  height:90px;
  color: blue;
  background-color: aliceblue;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-weight: 900; 
}

.btn{
  margin-top: 15px;
  font-size: 25px;
  font-weight:700;
  background:none;
  cursor: pointer;
  border:none;
}

.btn:hover{
  color: orange;
  border: none;
}


.modeSelect{
  position:absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  background-color: rgba(0,0,0,.75);
  backdrop-filter: blur(.5rem);
  box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.51);
  border-radius: 3px;
}

#menuTitle{
  margin: -20px;
  text-align: center;
  font-size: 75px;
  font-weight: 800;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 
               0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 
               0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 
               0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 
               0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 
               0 20px 20px rgba(0,0,0,.15), 2px -8px 2px rgba(78,206,111,0);
    
}


.subtext {
  text-align: center;
  font-size: 40px;
  color:white;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 
               0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 
               0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 
               0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 
               0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 
               0 20px 20px rgba(0,0,0,.15), 2px -8px 2px rgba(78,206,111,0);
    
}


.selectBtn{
  margin: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  background: none;
  border: none;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 
               0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 
               0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 
               0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 
               0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 
               0 20px 20px rgba(0,0,0,.15), 2px -8px 2px rgba(78,206,111,0);
    
}

#twoPlayer:hover{
  color: #2B00FF;
  cursor:pointer;
}

#computerEasy:hover{
  color: #00FF2A;
  cursor:pointer;
}

#computerHard:hover{
  color: #E62600;
  cursor:pointer;
}

.hidden {
  height: 0%;
  overflow:hidden;
}
